@import "../App.css";
.container {
  border-radius: 1rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);

  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
h2 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  color: var(--dark);
  font-weight: 400;
}
.task-list {
  overflow: scroll;
  margin: 1rem 0;

  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  top: 10%;
  max-height: 390px;
}
.task {
  background-color: #ffff;
  /* border-bottom: solid var(--light) 0.05rem; */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  color: var(--dark);
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close:hover {
  cursor: pointer;
  color: var(--maroon);
}

.task-info {
  display: flex;
  justify-content: center;
  gap: 2rem;
  color: var(--light);
  padding: 1rem;
  font-weight: 300;
  font-size: 0.8rem;
  background: #ffff;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}
.task-info span:hover {
  color: var(--blue);
  cursor: pointer;
  font-weight: 500;
}
.task-input {
  position: relative;
  display: flex;
}

.task-input input {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.1);
}

.task-input .bullet {
  position: absolute;
  top: 0.8rem;
  left: 5%;
}
.task-input .add {
  position: absolute;
  top: 0.8rem;
  left: 85%;
  font-size: 0.9rem;
  color: var(--light);
}
.task-input .add:hover {
  cursor: pointer;
  color: var(--blue);
  font-weight: 500;
}
