@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --light: #808080;
  --dark: #3a4750;
  --maroon: #be3144;
  --blue: #5f5dbd;
}

body {
  background: url("./assets/images/header1.jpg"),
    linear-gradient(-10deg, #eaf6f6 10%, #fcfefe 20%);
  background-size: auto 30%, auto;
  background-position: top, center;
  background-repeat: repeat-x, repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
