@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --light: #d3d6db;
  --dark: #3a4750;
  --maroon: #be3144;
}

body {
  background: url("./assets/images/header.jpg"),
    radial-gradient(
      circle at 10% 20%,
      rgba(216, 241, 230, 0.46) 0.1%,
      rgba(233, 226, 226, 0.28) 90.1%
    );
  background-size: auto 30vh, auto;
  background-position: top, center;
  background-repeat: repeat-x, no-repeat;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
